@font-face {
    font-family: 'airstrike';
    src: url(../fonts/airstrike.ttf) format('truetype');
}
.npg{
    display:flex;
    align-items: center;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: airstrike;
    font-size: 20px;
    text-align: left;
}
.np_edit_b{
    color: blue;
    background-color: gray;
}
.game_text{
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: normal;
}
.system_text{
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(153, 153, 153);
}
.sub_div{
    width: 90%;
    border-bottom: 1px solid rgb(255, 82, 82);
    margin:0 auto;
}
.npg img{
    width: 20px;
    height: 20px;
    padding-left: 2px;
}