@font-face {
    font-family: 'airstrike';
    src: url(../fonts/airstrike.ttf) format('truetype');
}

.system{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 50% 50%;
    align-items: center;
    text-align: center;
    width:100%;
}
.quadrant {
    border: 1px solid red;
    height: 49.5vh;
    overflow:auto;
    position:relative;
    z-index: 2;
    color: black;
}
#big1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: whitesmoke;
}
#big2{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: whitesmoke;
}