.systemName{
    font-size: 50px;
    font-family: airstrike;
    padding: 10px;
}
.info {
    font-size: 27px;
    font-family: airstrike;
    text-align: left;
    padding-left: 10px;
    height: calc(100%-70px);
    display:flex;
}
.spans{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.spans .div{
    padding-bottom: 10px;
}
.infoSpan{
    padding-bottom:20px;
}
.sinfoText{
    color: rgb(255, 82, 82);
}
.s_stats_content{
    display: grid;
    grid-template-columns: 15% 5% 60% 20%;
    align-items: center;
    font-size: 20px;
    row-gap: 10px;
}