.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  color: white;
  overflow: hidden;
}
.nav{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.main{
  position: absolute;
  left:80px;
  top:0; 
  height:100%;
  width: calc(100% - 80px);
  margin: 0;
  overflow: hidden;
  display:grid;
  grid-template-columns: 25% 75%;
}
.layout {
  height: 100%;
  float: left;
  margin-right: 10px;
  background-color: #282834;
  z-index: 2;
  position: relative;
}
.content{
  height: 100%;
  float: left;
}
.content2{
  position:absolute;
  width: 75%;
}
.np_div {
  height: 60%;
}
.stats_div{
  height: 35%;
}
.info_div{
  height:4.3%;
}

@media only screen and (max-height: 100vh) {
  .main {
    overflow-y: auto;
  }
}
::-webkit-scrollbar{
  width: 15px;
  height: 15px;
  background-color: rgb(88, 88, 88);
  border-radius: 10px;
  border: 1px solid black;
}
::-webkit-scrollbar-thumb{
  background: #a3aaff;
  border-radius: 10px;
  border: 1px solid black;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(88, 88, 133);
}
::-webkit-scrollbar-corner{
    background-color: #a3aaff;
    border-radius: 10px;
}
.pageSlider-enter{
  transform: translate3d(-100%, 0, 0);
}
.pageSlider-enter.pageSlider-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 800ms;
}
.pageSlider-exit {
  transform: translate3d(0, 0, 0);
}
.pageSlider-exit.pageSlider-exit-active {
  transform: translate3d(100%, 0, 0);
  transition: all 800ms;
}